<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pb-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                {{#if imageUrl}}
                    <div class="col-auto">
                        <img src="{{imageUrl}}" class="img-thumbnail img-profile" />
                    </div>
                {{/if}}
                <div class="col">
                    <h5 class="card-title">
                        {{fullName}}
                    </h5>
                    <a href="/users/{{_id}}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/users/{{_id}}#rooms" class="btn btn-secondary btn-sm">
                Rooms
                <span class="badge badge-pill badge-light">{{rooms.length}}</span>
            </a>

            <a href="/users/{{_id}}#reviews" class="btn btn-secondary btn-sm float-right">
                Reviews
                <span class="badge badge-pill badge-light">{{reviews.length}}</span>
            </a>
        </div>
    </div>
</div>
