<div>
    <div id="map"></div>
</div>

<div class="container-fluid py-4">
    <div class="row">
        {{#each rooms}}
            <div class="col-3 pb-4">
                <div class="card">
                    <img src="{{imageUrl}}" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">
                            {{name}}
                        </h5>
                        {{> rating}}
                        <p class="card-text">
                            {{description}}
                        </p>
                        <p class="text-muted">
                            {{address}}
                        </p>
                        <a href="/rooms/{{_id}}" class="btn btn-primary">Details</a>
                    </div>
                    <input type="hidden" class="map-marker" data-lat="{{location.coordinates.[1]}}" data-lng="{{location.coordinates.[0]}}">
                </div>
            </div>
        {{/each}}
    </div>
</div>
