<div class="container-fluid py-4">
    {{#with user}}

        <div class="row">
            {{#if imageUrl}}
                <div class="col-auto">
                    <img src="{{imageUrl}}" class="img-thumbnail img-profile" />
                </div>
            {{/if}}
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1>{{fullName}}</h1>
                    </div>
                    {{#if owned}}
                        <div class="col text-right">
                            <a href="/users/edit" class="btn btn-success">
                                Edit my profile
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    {{/if}}
                </div>

                <hr class="my-4" />

                <p><a href="mailto:{{email}}">{{email}}</a></p>

            </div>
        </div>

    {{/with}}
</div>

{{#if rooms}}
    <div class="container-fluid py-4">
        <h1>Rooms by {{user.fullName}}</h1>
        <hr />

        <div class="row">
            {{#each rooms}}
                {{> room}}
            {{/each}}
        </div>
    </div>
{{/if}}

{{#if rooms}}
    <div class="container-fluid py-4">
        <h1>Reviews by {{user.fullName}}</h1>
        <hr />

        {{#each reviews}}
            {{> review}}
        {{/each}}
    </div>
{{/if}}
